body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

button {
    cursor: pointer;
    background-color: #ffc93c; 

}


#score {
    display: flex;
    font-size: 40px;
    justify-content: center;
}

#round {
    margin: 50px;
    display: flex;
    justify-content: center;
}

#round span {
    display: flex;
    justify-content: center;
    padding: 30px;
    
}

.px {
    padding: 0 50px;
}

.round1 , .round2 {
    padding: 0 50px;
}

.reset {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}



